<img ng-src="{{$ctrl.mainImageUrl}}" class="phone">
<h1>{{ $ctrl.phone.name}}</h1>
<p>{{$ctrl.phone.description}}</p>
<ul class="phone-thumbs">
    <li ng-repeat=" image in $ctrl.phone.images">
        <img ng-src=" {{image}}" ng-click="$ctrl.setImage(image)" alt="">
    </li>
</ul>
<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{$ctrl.phone.additionalFeatures}}</dd>
    </li>
    <li>
        <span>Connectivity network support</span>
        <dt>Infrared</dt>
        <dl>{{$ctrl.phone.connectivity.infrared | checkmark}}</dl>
        <dt>GPS</dt>
        <dl>{{$ctrl.phone.connectivity.gps | checkmark}}</dl>
        
    </li>
</ul>